body {background-color: powderblue;
    font-family: "Sofia", sans-serif;
  font-size: 30px;}
  
h1   {font-family: "Audiowide", sans-serif;
    color: blue;}

h2   {color: green;}

p    {color: red;}
a:link {
      color: green;
      background-color: transparent;
      text-decoration: none;
    }
    a:visited {
      color: pink;
      background-color: transparent;
      text-decoration: none;
    }
    a:hover {
      color: red;
      background-color: transparent;
      text-decoration: underline;
    }
    a:active {
      color: yellow;
      background-color: transparent;
      text-decoration: underline;
    }</style>
</head>
<body>
